<div fxLayout="row" fxLayoutGap="20px">
	<div fxFlex="1 1 auto">
		<mat-form-field class="full-width-field" color="accent">
			<input matInput placeholder="Search for a street, city or place" type="text" (keyup)="updateSuggestions($event.target)" [matAutocomplete]="addressAuto">
		</mat-form-field>
		<mat-autocomplete #addressAuto="matAutocomplete" (optionSelected)="selectPrediction($event)" [displayWith]="displayPrediction">
			<mat-option *ngFor="let prediction of placeSuggestions" [value]="prediction">
				{{prediction.description}}
			</mat-option>
		</mat-autocomplete>
	</div>
</div>

<div fxLayoutGap="10px">
	<button fxFlex="33.33%" mat-raised-button color="accent" (click)="showAdvancedSearch = !showAdvancedSearch">
		Advanced Search
		<mat-icon *ngIf="!showAdvancedSearch">keyboard_arrow_down</mat-icon>
		<mat-icon *ngIf="showAdvancedSearch">keyboard_arrow_up</mat-icon>
	</button>
	<button fxFlex="33.33%" mat-raised-button color="warn">
		<mat-icon>clear</mat-icon> Clear Search
	</button>
	<button fxFlex="33.33%" *ngIf="!showAdvancedSearch" mat-raised-button color="primary" (click)="updateQuery()">
		<mat-icon>search</mat-icon> Find Park
	</button>
</div>

<div class="advanced-search-box" [@toggleState] *ngIf="showAdvancedSearch" fxLayout="column" fxLayoutGap="10px">
	<div>
		<label>Search Radius: {{searchRadius.value}} km</label>
		<mat-slider class="full-width-field" #searchRadius="matSlider" min="1" max="100" step="1" value="10" tickInterval="10"></mat-slider>
		<mat-form-field class="full-width-field" color="accent">
			<mat-label>Park Status</mat-label>
			<mat-select matNativeControl required>
				<mat-option value="">Any Statuses</mat-option>
				<mat-option value="unoccupied">Unoccupied</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div>
		<mat-label>Options:</mat-label>
		<div fxLayout="row" fxLayoutGap="10px">
			<div>
				<mat-checkbox [checked]="true">On Street Parks</mat-checkbox>
			</div>
	     	<div>
	     		<mat-checkbox [checked]="true">Individual Parks</mat-checkbox>
	     	</div>
	     	<div>
	     		<mat-checkbox [checked]="true">Disabled Parks</mat-checkbox>
	     	</div>
	     	<div>
	     		<mat-checkbox [checked]="true">Metered Parks</mat-checkbox>
	     	</div>
		</div>
	</div>
	<div>
		<button mat-raised-button class="mat-button-block" color="primary" (click)="updateQuery()">
			<mat-icon>search</mat-icon> Find Park
		</button>
	</div>
</div>