<div fxLayout="row">
	<div fxFlex="50%">
		<div class="current-weather">
			<div>
				<mat-icon>wb_sunny</mat-icon> <span class="temperature">14ºC</span>
			</div>
			<div class="last-checked">1:31pm, Aug 20</div>
		</div>
	</div>
	<div fxFlex="50%">
		<div>Min: 8ºC</div>
		<div>Max: 15ºC</div>
		<div>Feels Like: 2ºC</div>
	</div>
</div>
<div class="mat-table">
	<div class="mat-row">
		<div class="mat-cell">Wind</div>
		<div class="mat-cell">SSE 17 km/h</div>
	</div>
	<div class="mat-row">
		<div class="mat-cell">Humidity</div>
		<div class="mat-cell">56%</div>
	</div>
	<div class="mat-row">
		<div class="mat-cell">Chance of Rain</div>
		<div class="mat-cell">80%</div>
	</div>
</div>

{{searchParams | json}}