.google-map {
	height:600px;
}

::ng-deep {
	.mat-card-header {
		align-items:flex-start;

		.mat-card-header-text {
			flex:1 1 auto;
			// line-height:32px;
			// vertical-align:top;

			.mat-card-title {
				margin-bottom:0;
			}
		}
	}

	.view-selector {
		flex:0 0 auto;
		position:relative;
		top:-4px;
		// align-self:flex-end;

		.mat-button-toggle-button {
			font-size:14px;

			.mat-button-toggle-label-content {
				line-height:30px;
			}
		}
	}
}